In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('LAB1.CSV')

In [ ]:
print(df)

   Students Information Unnamed: 1 Unnamed: 2 Unnamed: 3         Unnamed: 4  \
0                   NaN        NaN        NaN        NaN                NaN
1            Student_id       Name        DOB      Class              Email
2                   111        Raj   1/1/2003       TE-B      raj@gmail.com
3                   222        Roy   3/5/2004       TE-A      roy@gmail.com
4                   333      Rohan  13/4/2005       TE-B    rohan@gmail.com
5                   444       Arun   3/7/2003       TE-C     arun@gmail.com
6                   555    Pranali  14/8/2004       TE-A  pranali@gmail.com
7                   666     Pratik  27/9/2004       TE-B   pratik@gmail.com
8                   777      Priya  12/5/2006       TE-C    priya@gmail.com
9                   888      Soham   3/6/2004       TE-B    soham@gmail.com
10                  999      Kunal  10/9/2005       TE-A    kunal@gmail.com
11                 1110    Atharva   3/8/2005       TE-B  atharva@gmail.com

    Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8
0          NaN        NaN        NaN        NaN
1    Phone No.     Gender       Year      Grade
2    312443343       Male        1st          A
3     24365656       Male        4th         A+
4      5253436       Male        3rd          B
5   6564364375       Male        1st          O
6     74765634     Female        2nd         A+
7    747676755       Male        1st          A
8    876865767     Female        3rd          O
9    878787656       Male        2nd         B+
10  6587887787       Male        2nd          C
11  7879487977       Male        4th          O

In [ ]:
df.tail()

,Students Information,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
7,666,Pratik,27/9/2004,TE-B,pratik@gmail.com,747676755,Male,1st,A
8,777,Priya,12/5/2006,TE-C,priya@gmail.com,876865767,Female,3rd,O
9,888,Soham,3/6/2004,TE-B,soham@gmail.com,878787656,Male,2nd,B+
10,999,Kunal,10/9/2005,TE-A,kunal@gmail.com,6587887787,Male,2nd,C
11,1110,Atharva,3/8/2005,TE-B,atharva@gmail.com,7879487977,Male,4th,O

In [ ]:
df.count()

Students Information    11
Unnamed: 1              11
Unnamed: 2              11
Unnamed: 3              11
Unnamed: 4              11
Unnamed: 5              11
Unnamed: 6              11
Unnamed: 7              11
Unnamed: 8              11
dtype: int64

In [ ]:
df.shape

(12, 9)

In [ ]:
df.head()

,Students Information,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Student_id,Name,DOB,Class,Email,Phone No.,Gender,Year,Grade
2,111,Raj,1/1/2003,TE-B,raj@gmail.com,312443343,Male,1st,A
3,222,Roy,3/5/2004,TE-A,roy@gmail.com,24365656,Male,4th,A+
4,333,Rohan,13/4/2005,TE-B,rohan@gmail.com,5253436,Male,3rd,B