In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/healthcare_dataset.csv')

In [ ]:
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27702,dAWn FrancIS,35,Male,B+,Arthritis,2023-03-21,Shirley Villa,"and Smith Sosa, Miller",UnitedHealthcare,30344.960592,139,Elective,2023-04-07,Penicillin,Inconclusive
27703,FReDeRICk MooRE,83,Male,AB-,Obesity,2019-10-15,Mary Johnson,Miller Group,Cigna,-532.761119,132,Urgent,2019-11-12,Aspirin,Normal
27704,aNgeLA MuRPhy,61,Female,AB+,Hypertension,2019-12-12,Lori Perry,Miranda-Elliott,UnitedHealthcare,10332.176476,490,Urgent,2020-01-10,Penicillin,Inconclusive
27705,sTaCY nelsoN,38,Female,O-,Asthma,2019-06-04,Randall Ellis,Gomez-Peters,Aetna,34050.892435,433,Urgent,2019-06-17,Lipitor,Inconclusive
27706,sTEVeN GibsON,42,Male,B+,Obesity,2022-10-13,Amy Zamora,Cantu-Gray,Medicare,13836.878609,287,Urgent,2022-10-14,Aspirin,Abnormal

In [ ]:
print(df.shape)

(27707, 15)

In [ ]:
categorical_cols = df.select_dtypes(include='object')
print(categorical_cols.columns)

Index(['Name', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Admission Type', 'Discharge Date', 'Medication', 'Test Results'],
      dtype='object')

In [ ]:
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [ ]:
missing_values_count = df.isnull().sum()

print("Total missing values per column:")
print(missing_values_count)

# To see only columns that have missing values
columns_with_missing_values = missing_values_count[missing_values_count > 0]

if not columns_with_missing_values.empty:
    print("\nColumns with missing values:")
    print(columns_with_missing_values)
else:
    print("\nNo missing values found in any column.")

Total missing values per column:
Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

No missing values found in any column.

In [ ]:
df.dtypes

Name                   object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
dtype: object

In [ ]:
numeric_columns=df.select_dtypes(include='number')
print(numeric_columns.columns)

Index(['Age', 'Billing Amount', 'Room Number'], dtype='object')

In [ ]:
categorical_columns=df.select_dtypes(include='object')
print(categorical_columns.columns)

Index(['Name', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Admission Type', 'Discharge Date', 'Medication', 'Test Results'],
      dtype='object')